
:root{

    /* ## Colors */
--Pblue: hsl(225, 100%, 94%);
--Bblue: hsl(245, 75%, 52%);
--Very-pblue: hsl(225, 100%, 98%);
--Desblue: hsl(224, 23%, 55%);
--Dblue: hsl(223, 47%, 23%);

/* ### Font */
--Fsize: 16px; /* (paragraph) */
--Family: 'Red Hat Display', sans-serif;;
--W1: 500;
--W2:  700;
--W3:  900;
}